<!DOCTYPE html>
<html>
<head>
<title>Tutorial Videos</title>
<%= stylesheet_link_tag 'ds2.scss' %>
 <center><h1>LearnOnline</h1></center>
     <center><h7>-an online study point</h7></center>
      <hr/>
</head>
<body>
<div style="background-color:#FFFFE0;height:1090px;width:1260px;">
<ul>
	<class>Ruby on rails</class>
		<div class="front-menu">
<table cellpadding="10">
<tr><td style="text-align: center"><li>Welcome to Rails!</li>
		<%= video_tag "1 Welcome.webm", :size => "320x240", :controls => true %></div></td></tr></table></div></td></div>
		<div align="center"height:200px;width:200px;><td style="text-align: right; vertical-align: top">
<div class="front-menu">
<table cellpadding="10">
<tr><td style="text-align: center">
<li>How to use exercise files</li>
<%= video_tag "2ruby.webm", :size => "320x240", :controls => true %></div></td></tr></table></div></td></div>
		<div align="right"><li>Ruby on Rails Introduction</li></div>
		<div align="right"><%= video_tag "3ruby.webm", :size => "320x240", :controls => true %></div>
		<li>Understanding MVC Architechture</li></div>
		<%= video_tag "4ruby.webm", :size => "320x240", :controls => true %></div>
		<li>Create a Project</li></div>
		<%= video_tag "5ruby.webm", :size => "320x240", :controls => true %></div>
		<li>Configure a Project</li></div>
		<%= video_tag "6ruby.webm", :size => "320x240", :controls => true %></div>
		<li>File Structure of a Project</li></div>
		<%= video_tag "7ruby.webm", :size => "320x240", :controls => true %></div>
		<li>Access a Project</li></div>
		<%= video_tag "8ruby.webm", :size => "320x240", :controls => true %></div>
		<li>Generate a Controller and View</li></div>
		<%= video_tag "9ruby.webm", :size => "320x240", :controls => true %></div>
		<li>Server Request Handling</li></div>
		<%= video_tag "10ruby.webm", :size => "320x240", :controls => true %></div>
</ul>
</div>
</body>
</html>