<!DOCTYPE html>
<html>
<head>
<title>Operating Systems</title>
<%= stylesheet_link_tag 'ds2.scss' %>
 <center><h1>LearnOnline</h1></center>
     <center><h7>-an online study point</h7></center>
      <hr/>
</head>
<body>
<div style="background-color:#FFFFE0;height:400px;width:280px;float:left;">
<meta name="description" content="Operating System Tutorial for Beginners:A beginner's tutorial containing complete knowledge about an operating system starting from its Definition, Functions, Conceptual View, Program Execution, Program Execution, Communication, Error Handling, User Account Management, Multitasking, Real Time System, Process, Program, Memory Management, and Security, Overview, Types, Services, Properties, Processes, Process Scheduling, Scheduling Algorithms, Multithreading, Virtual Memory, I/O Hardware, I/O Software, File System, Linux.Created by Shayeri Das,M.sc 4th sem,BHU-2015-17,4th semester project" />
<meta name="Keywords" content="Operating System, Tutorials, Learning, Beginners, Basics, Definition, Functions, Conceptual View, Program Execution, Program Execution, Communication, Error Handling, User Account Management, Multitasking, Real Time System, Process, Program, Memory Management, Security, Overview, Types, Services, Properties, Processes, Process Scheduling, Scheduling Algorithms, Multithreading, Virtual Memory, I/O Hardware, I/O Software, File System, Linux." />
<ul>
<class>Operating System Contents:</class>
<li><%= link_to 'Home', os_home_path%></li>
<li><%= link_to 'Overview', os_overview_path%></li>
<li><%= link_to 'Types', os_types_path%></li>
<li><%= link_to 'Services', os_services_path%></li>
<li><%= link_to 'Properties', os_properties_path%></li>
<li><%= link_to 'Processes', os_processes_path%></li>
<li><%= link_to 'Process Scheduling', os_process_scheduling_path%></li>
<li><%= link_to 'Scheduling Algorithms', os_process_scheduling_algorithms_path%></li> 
<li><%= link_to 'Multi-threading', os_multi_threading_path%></li>
<li><%= link_to 'Memory Management', os_memory_mgmt_path%></li>
<li><%= link_to 'Virtual Memory', os_virtual_memory_path%></li>
<li><%= link_to 'I/O Hardware', os_io_hw_path%></li>
<li><%= link_to 'I/O Software', os_io_sw_path%></li>
<li><%= link_to 'File System', os_files_path%></li>
<li><%= link_to 'Security', os_security_path%></li>
<li><%= link_to 'Linux', os_linux_path%></li>
</ul>
</div>
<div style="height:1090px;width:1000px;float:right;">
<td style="text-align: right; vertical-align: top">
<div class="front-menu">
<table cellpadding="10">
<tr><td style="text-align: left">
<h4>Operating Systems Introduction</h4>
<p>An operating system (OS) is a collection of software that manages computer hardware resources and provides common services for computer programs. The operating system is a vital component of the system software in a computer system.</p>
<p>This tutorial will take you through step by step approach while learning Operating System concepts.</p>
<h7>Readers</h7>
<p>This tutorial has been prepared for the beginners in Computer Science to help them understand the basic to advanced concepts related to Operating System.</p>
</td>
</tr>
</table>
</div>
</div>
</body>
</html>