<!DOCTYPE html>
<html>
<head>
<title>Operating Systems</title>
<%= stylesheet_link_tag 'ds2.scss' %>
 <center><h1>LearnOnline</h1></center>
     <center><h7>-an online study point</h7></center>
      <hr/>
</head>
<body>
<div style="background-color:#FFFFE0;height:400px;width:280px;float:left;">
<meta name="description" content="Operating System Tutorial for Beginners:A beginner's tutorial containing complete knowledge about an operating system starting from its Definition, Functions, Conceptual View, Program Execution, Program Execution, Communication, Error Handling, User Account Management, Multitasking, Real Time System, Process, Program, Memory Management, and Security, Overview, Types, Services, Properties, Processes, Process Scheduling, Scheduling Algorithms, Multithreading, Virtual Memory, I/O Hardware, I/O Software, File System, Linux.Created by Shayeri Das,M.sc 4th sem,BHU-2015-17,4th semester project" />
<meta name="Keywords" content="Operating System, Tutorials, Learning, Beginners, Basics, Definition, Functions, Conceptual View, Program Execution, Program Execution, Communication, Error Handling, User Account Management, Multitasking, Real Time System, Process, Program, Memory Management, Security, Overview, Types, Services, Properties, Processes, Process Scheduling, Scheduling Algorithms, Multithreading, Virtual Memory, I/O Hardware, I/O Software, File System, Linux." />
<ul>
<class>Operating System Contents:</class>
<li><%= link_to 'Home', os_home_path%></li>
<li><%= link_to 'Overview', os_overview_path%></li>
<li><%= link_to 'Types', os_types_path%></li>
<li><%= link_to 'Services', os_services_path%></li>
<li><%= link_to 'Properties', os_properties_path%></li>
<li><%= link_to 'Processes', os_processes_path%></li>
<li><%= link_to 'Process Scheduling', os_process_scheduling_path%></li>
<li><%= link_to 'Scheduling Algorithms', os_process_scheduling_algorithms_path%></li> 
<li><%= link_to 'Multi-threading', os_multi_threading_path%></li>
<li><%= link_to 'Memory Management', os_memory_mgmt_path%></li>
<li><%= link_to 'Virtual Memory', os_virtual_memory_path%></li>
<li><%= link_to 'I/O Hardware', os_io_hw_path%></li>
<li><%= link_to 'I/O Software', os_io_sw_path%></li>
<li><%= link_to 'File System', os_files_path%></li>
<li><%= link_to 'Security', os_security_path%></li>
<li><%= link_to 'Linux', os_linux_path%></li>
</ul>
</div>
<div style="height:1090px;width:1000px;float:right;">
<td style="text-align: right; vertical-align: top">
<div class="front-menu">
<table cellpadding="10">
<tr><td style="text-align: left">
<h4>Operating Systems I/O Software</h4>
<p>I/O software is often organized in the following layers &minus;</p>
<ul class="list">
<li><p><b>User Level Libraries</b> &minus; This provides simple interface to the user program to perform input and output. For example, <b>stdio</b> is a library provided by C and C++ programming languages.</p></li>
<li><p><b>Kernel Level Modules</b> &minus; This provides device driver to interact with the device controller and device independent I/O modules used by the device drivers.</p></li>
<li><p><b>Hardware</b> &minus; This layer includes actual hardware and hardware controller which interact with the device drivers and makes hardware alive.</p></li>
<div align="center"><%= image_tag("io_software.jpg", :alt => "IO Software") %></div>
</ul>
<p>A key concept in the design of I/O software is that it should be device independent where it should be possible to write programs that can access any I/O device without having to specify the device in advance. For example, a program that reads a file as input should be able to read a file on a floppy disk, on a hard disk, or on a CD-ROM, without having to modify the program for each different device.</p>
<h7>Device Drivers</h7>
<p>Device drivers are software modules that can be plugged into an OS to handle a particular device. Operating System takes help from device drivers to handle all I/O devices. Device drivers encapsulate device-dependent code and implement a standard interface in such a way that code contains device-specific register reads/writes. Device driver, is generally written by the device's manufacturer and delivered along with the device on a CD-ROM.</p>
<p>A device driver performs the following jobs &minus;</p>
<ul class="list">
<li>To accept request from the device independent software above to it.</li>
<li>Interact with the device controller to take and give I/O and perform required error handling</li>
<li>Making sure that the request is executed successfully</li>
</ul>
<p>How a device driver handles a request is as follows: Suppose a request comes to read a block N. If the driver is idle at the time a request arrives, it starts carrying out the request immediately. Otherwise, if the driver is already busy with some other request, it places the new request in the queue of pending requests.</p>
<h7>Interrupt handlers</h7>
<p>An interrupt handler, also known as an interrupt service routine or ISR, is a piece of software or more specifically a callback function in an operating system or more specifically in a device driver, whose execution is triggered by the reception of an interrupt.</p>
<p>When the interrupt happens, the interrupt procedure does whatever it has to in order to handle the interrupt, updates data structures and wakes up process that was waiting for an interrupt to happen.</p>
<p>The interrupt mechanism accepts an address ─ a number that selects a specific interrupt handling routine/function from a small set. In most architectures, this address is an offset stored in a table called the interrupt vector table. This vector contains the memory addresses of specialized interrupt handlers.</p>
<h7>Device-Independent I/O Software</h7>
<p>The basic function of the device-independent software is to perform the I/O functions that are common to all devices and to provide a uniform interface to the user-level software. Though it is difficult to write completely device independent software but we can write some modules which are common among all the devices. Following is a list of functions of device-independent I/O Software &minus;</p>
<ul class="list">
<li>Uniform interfacing for device drivers</li>
<li>Device naming - Mnemonic names mapped to Major and Minor device numbers</li>
<li>Device protection</li>
<li>Providing a device-independent block size</li>
<li>Buffering because data coming off a device cannot be stored in final destination.</li>
<li>Storage allocation on block devices</li>
<li>Allocation and releasing dedicated devices</li>
<li>Error Reporting</li>
</ul>
<h7>User-Space I/O Software</h7>
<p>These are the libraries which provide richer and simplified interface to access the functionality of the kernel or ultimately interactive with the device drivers. Most of the user-level I/O software consists of library procedures with some exception like spooling system which is a way of dealing with dedicated I/O devices in a multiprogramming system.</p>
<p>I/O Libraries (e.g., stdio) are in user-space to provide an interface to the OS resident device-independent I/O SW. For example putchar(), getchar(), printf() and scanf() are example of user level I/O library stdio available in C programming.</p>
<h7>Kernel I/O Subsystem</h7>
<p>Kernel I/O Subsystem is responsible to provide many services related to I/O. Following are some of the services provided.</p>
<ul class="list">
<li><p><b>Scheduling</b> &minus; Kernel schedules a set of I/O requests to determine a good order in which to execute them. When an application issues a blocking I/O system call, the request is placed on the queue for that device. The Kernel I/O scheduler rearranges the order of the queue to improve the overall system efficiency and the average response time experienced by the applications.</p></li>
<li><p><b>Buffering</b> &minus; Kernel I/O Subsystem maintains a memory area known as <b>buffer</b> that stores data while they are transferred between two devices or between a device with an application operation. Buffering is done to cope with a speed mismatch between the producer and consumer of a data stream or to adapt between devices that have different data transfer sizes.</p></li>
<li><p><b>Caching</b> &minus; Kernel maintains cache memory which is region of fast memory that holds copies of data. Access to the cached copy is more efficient than access to the original.</p></li>
<li><p><b>Spooling and Device Reservation</b> &minus; A spool is a buffer that holds output for a device, such as a printer, that cannot accept interleaved data streams. The spooling system copies the queued spool files to the printer one at a time. In some operating systems, spooling is managed by a system daemon process. In other operating systems, it is handled by an in kernel thread.</p></li>
<li><p><b>Error Handling</b> &minus; An operating system that uses protected memory can guard against many kinds of hardware and application errors.</p></li>
</ul>
<hr />
</td>
</tr>
</table>
</div>
</td>
</div>
</body>
</html>