<!DOCTYPE html>
<html>
<head>
<title>Operating Systems</title>
<%= stylesheet_link_tag 'ds2.scss' %>
 <center><h1>LearnOnline</h1></center>
     <center><h7>-an online study point</h7></center>
      <hr/>
</head>
<body>
<div style="background-color:#FFFFE0;height:400px;width:280px;float:left;">
<meta name="description" content="Operating System Tutorial for Beginners:A beginner's tutorial containing complete knowledge about an operating system starting from its Definition, Functions, Conceptual View, Program Execution, Program Execution, Communication, Error Handling, User Account Management, Multitasking, Real Time System, Process, Program, Memory Management, and Security, Overview, Types, Services, Properties, Processes, Process Scheduling, Scheduling Algorithms, Multithreading, Virtual Memory, I/O Hardware, I/O Software, File System, Linux.Created by Shayeri Das,M.sc 4th sem,BHU-2015-17,4th semester project" />
<meta name="Keywords" content="Operating System, Tutorials, Learning, Beginners, Basics, Definition, Functions, Conceptual View, Program Execution, Program Execution, Communication, Error Handling, User Account Management, Multitasking, Real Time System, Process, Program, Memory Management, Security, Overview, Types, Services, Properties, Processes, Process Scheduling, Scheduling Algorithms, Multithreading, Virtual Memory, I/O Hardware, I/O Software, File System, Linux." />
<ul>
<class>Operating System Contents:</class>
<li><%= link_to 'Home', os_home_path%></li>
<li><%= link_to 'Overview', os_overview_path%></li>
<li><%= link_to 'Types', os_types_path%></li>
<li><%= link_to 'Services', os_services_path%></li>
<li><%= link_to 'Properties', os_properties_path%></li>
<li><%= link_to 'Processes', os_processes_path%></li>
<li><%= link_to 'Process Scheduling', os_process_scheduling_path%></li>
<li><%= link_to 'Scheduling Algorithms', os_process_scheduling_algorithms_path%></li> 
<li><%= link_to 'Multi-threading', os_multi_threading_path%></li>
<li><%= link_to 'Memory Management', os_memory_mgmt_path%></li>
<li><%= link_to 'Virtual Memory', os_virtual_memory_path%></li>
<li><%= link_to 'I/O Hardware', os_io_hw_path%></li>
<li><%= link_to 'I/O Software', os_io_sw_path%></li>
<li><%= link_to 'File System', os_files_path%></li>
<li><%= link_to 'Security', os_security_path%></li>
<li><%= link_to 'Linux', os_linux_path%></li>
</ul>
</div>
<div style="height:1090px;width:1000px;float:right;">
<td style="text-align: right; vertical-align: top">
<div class="front-menu">
<table cellpadding="10">
<tr><td style="text-align: left">
<h4>Operating Systems Properties</h4>
<h7>Batch processing</h7>
<p>Batch processing is a technique in which an Operating System collects the programs and data together in a batch before processing starts. An operating system does the following activities related to batch processing &minus;</p>
<ul class="list">
<li><p>The OS defines a job which has predefined sequence of commands, programs and data as a single unit.</p></li>
<li><p>The OS keeps a number a jobs in memory and executes them without any manual information.</p></li>
<li><p>Jobs are processed in the order of submission, i.e., first come first served fashion.</p></li>
<li><p>When a job completes its execution, its memory is released and the output for the job gets copied into an output spool for later printing or processing.</p></li>
<div align ="center"><%= image_tag("batch_processing.jpg", :alt => "Batch Processing") %></div>
</ul>
<h7>Advantages</h7>
<ul class="list">
<li><p>Batch processing takes much of the work of the operator to the computer.</p></li>
<li><p>Increased performance as a new job get started as soon as the previous job is finished, without any manual intervention.</p></li>
</ul>
<h7>Disadvantages</h7>
<ul class="list">
<li>Difficult to debug program.</li>
<li>A job could enter an infinite loop.</li>
<li>Due to lack of protection scheme, one batch job can affect pending jobs.</li>
</ul>
<h7>Multitasking</h7>
<p>Multitasking is when multiple jobs are executed by the CPU simultaneously by switching between them. Switches occur so frequently that the users may interact with each program while it is running. An OS does the following activities related to multitasking &minus;</p>
<ul class="list">
<li><p>The user gives instructions to the operating system or to a program directly, and receives an immediate response.</p></li>
<li><p>The OS handles multitasking in the way that it can handle multiple operations/executes multiple programs at a time.</p></li>
<li><p>Multitasking Operating Systems are also known as Time-sharing systems.</p></li>
<li><p>These Operating Systems were developed to provide interactive use of a computer system at a reasonable cost.</p></li>
<li><p>A time-shared operating system uses the concept of CPU scheduling and multiprogramming to provide each user with a small portion of a time-shared CPU.</p></li>
<li><p>Each user has at least one separate program in memory.</p></li>
</ul>
<ul class="list">
<div align ="center"><%= image_tag("multitasking.jpg", :alt => "Multitasking") %></div>
<li><p>A program that is loaded into memory and is executing is commonly referred to as a <b>process</b>.</p></li>
<li><p>When a process executes, it typically executes for only a very short time before it either finishes or needs to perform I/O.</p></li>
<li><p>Since interactive I/O typically runs at slower speeds, it may take a long time to complete. During this time, a CPU can be utilized by another process.</p></li>
<li><p>The operating system allows the users to share the computer simultaneously. Since each action or command in a time-shared system tends to be short, only a little CPU time is needed for each user.</p></li>
<li><p>As the system switches CPU rapidly from one user/program to the next, each user is given the impression that he/she has his/her own CPU, whereas actually one CPU is being shared among many users.</p></li>
</ul>
<h7>Multiprogramming</h7>
<p>Sharing the processor, when two or more programs reside in memory at the same time, is referred as <b> multiprogramming</b>. Multiprogramming assumes a single shared processor. Multiprogramming increases CPU utilization by organizing jobs so that the CPU always has one to execute.</p>
<p>The following figure shows the memory layout for a multiprogramming system.</p>
<div align ="center"><%= image_tag("memory_layout.jpg", :alt => "Multiprogramming") %></div>
<p>An OS does the following activities related to multiprogramming.</p>
<ul class="list">
<li><p>The operating system keeps several jobs in memory at a time.</p></li>
<li><p>This set of jobs is a subset of the jobs kept in the job pool.</p></li>
<li><p>The operating system picks and begins to execute one of the jobs in the memory.</p></li>
<li><p>Multiprogramming operating systems monitor the state of all active programs and system resources using memory management programs to ensures that the CPU is never idle, unless there are no jobs to process.</p></li>
</ul>
<h7>Advantages</h7>
<ul class="list">
<li>High and efficient CPU utilization.</li>
<li>User feels that many programs are allotted CPU almost simultaneously.</li>
</ul>
<h7>Disadvantages</h7>
<ul class="list">
<li>CPU scheduling is required.</li>
<li>To accommodate many jobs in memory, memory management is required.</li>
</ul>
<h7>Interactivity</h7>
<p>Interactivity refers to the ability of users to interact with a computer system. An Operating system does the following activities related to interactivity &minus;</p>
<ul class="list">
<li>Provides the user an interface to interact with the system.</li>
<li>Manages input devices to take inputs from the user. For example, keyboard.</li>
<li>Manages output devices to show outputs to the user. For example, Monitor.</li>
</ul>
<p>The response time of the OS needs to be short, since the user submits and waits for the result.</p>
<h7>Real Time System</h7>
<p>Real-time systems are usually dedicated, embedded systems. An operating system does the following activities related to real-time system activity.</p>
<ul class="list">
<li>In such systems, Operating Systems typically read from and react to sensor data.</li> 
<li>The Operating system must guarantee response to events within fixed periods of time to ensure correct performance.</li>
</ul>
<h7>Distributed Environment </h7>
<p>A distributed environment refers to multiple independent CPUs or processors in a computer system. An operating system does the following activities related to distributed environment &minus;</p>
<ul class="list">
<li><p>The OS distributes computation logics among several physical processors.</p></li>
<li><p>The processors do not share memory or a clock. Instead, each processor has its own local memory.</p></li>
<li><p>The OS manages the communications between the processors. They communicate with each other through various communication lines.</p></li>
</ul>
<h7>Spooling</h7>
<p>Spooling is an acronym for simultaneous peripheral operations on line. Spooling refers to putting data of various I/O jobs in a buffer. This buffer is a special area in memory or hard disk which is accessible to I/O devices.</p>
<p>An operating system does the following activities related to distributed environment &minus;</p>
<ul class="list">
<li><p>Handles I/O device data spooling as devices have different data access rates.</p></li>
<li><p>Maintains the spooling buffer which provides a waiting station where data can rest while the slower device catches up.</p></li>
<li><p>Maintains parallel computation because of spooling process as a computer can perform I/O in parallel fashion. It becomes possible to have the computer read data from a tape, write data to disk and to write out to a tape printer while it is doing its computing task.</p></li>
</ul>
<div align ="center"><%= image_tag("spooling.jpg", :alt => "Spooling") %></div>
<h7>Advantages</h7>
<ul class="list">
<li>The spooling operation uses a disk as a very large buffer.</li>
<li>Spooling is capable of overlapping I/O operation for one job with processor operations for another job.</li>
</ul>
<hr />
</td>
</tr>
</table>
</div>
</td>
</div>
</body>
</html>