<!DOCTYPE html>
<html>
<head>
<title>Operating Systems</title>
<%= stylesheet_link_tag 'ds2.scss' %>
 <center><h1>LearnOnline</h1></center>
     <center><h7>-an online study point</h7></center>
      <hr/>
</head>
<body>
<div style="background-color:#FFFFE0;height:400px;width:280px;float:left;">
<meta name="description" content="Operating System Tutorial for Beginners:A beginner's tutorial containing complete knowledge about an operating system starting from its Definition, Functions, Conceptual View, Program Execution, Program Execution, Communication, Error Handling, User Account Management, Multitasking, Real Time System, Process, Program, Memory Management, and Security, Overview, Types, Services, Properties, Processes, Process Scheduling, Scheduling Algorithms, Multithreading, Virtual Memory, I/O Hardware, I/O Software, File System, Linux.Created by Shayeri Das,M.sc 4th sem,BHU-2015-17,4th semester project" />
<meta name="Keywords" content="Operating System, Tutorials, Learning, Beginners, Basics, Definition, Functions, Conceptual View, Program Execution, Program Execution, Communication, Error Handling, User Account Management, Multitasking, Real Time System, Process, Program, Memory Management, Security, Overview, Types, Services, Properties, Processes, Process Scheduling, Scheduling Algorithms, Multithreading, Virtual Memory, I/O Hardware, I/O Software, File System, Linux." />
<ul>
<class>Operating System Contents:</class>
<li><%= link_to 'Home', os_home_path%></li>
<li><%= link_to 'Overview', os_overview_path%></li>
<li><%= link_to 'Types', os_types_path%></li>
<li><%= link_to 'Services', os_services_path%></li>
<li><%= link_to 'Properties', os_properties_path%></li>
<li><%= link_to 'Processes', os_processes_path%></li>
<li><%= link_to 'Process Scheduling', os_process_scheduling_path%></li>
<li><%= link_to 'Scheduling Algorithms', os_process_scheduling_algorithms_path%></li> 
<li><%= link_to 'Multi-threading', os_multi_threading_path%></li>
<li><%= link_to 'Memory Management', os_memory_mgmt_path%></li>
<li><%= link_to 'Virtual Memory', os_virtual_memory_path%></li>
<li><%= link_to 'I/O Hardware', os_io_hw_path%></li>
<li><%= link_to 'I/O Software', os_io_sw_path%></li>
<li><%= link_to 'File System', os_files_path%></li>
<li><%= link_to 'Security', os_security_path%></li>
<li><%= link_to 'Linux', os_linux_path%></li>
</ul>
</div>
<div style="height:1090px;width:1000px;float:right;">
<td style="text-align: right; vertical-align: top">
<div class="front-menu">
<table cellpadding="10">
<tr><td style="text-align: left">
<h4>Operating Systems Types</h4>
<p>Operating systems are there from the very first computer generation and they keep evolving with time. In this chapter, we will discuss some of the important types of operating systems which are most commonly used.</p>
<h4>Batch operating system</h4>
<p>The users of a batch operating system do not interact with the computer directly. Each user prepares his job on an off-line device like punch cards and submits it to the computer operator. To speed up processing, jobs with similar needs are batched together and run as a group. The programmers leave their programs with the operator and the operator then sorts the programs with similar requirements into batches.</p>
<p>The problems with Batch Systems are as follows &minus;</p>
<ul>
<li>Lack of interaction between the user and the job.</li>
<li>CPU is often idle, because the speed of the mechanical I/O devices is slower than the CPU.</li>
<li>Difficult to provide the desired priority.</li>
</ul>
<h4>Time-sharing operating systems</h4>
<p>Time-sharing is a technique which enables many people, located at various terminals, to use a particular computer system at the same time. Time-sharing or multitasking is a logical extension of multiprogramming. Processor's time which is shared among multiple users simultaneously is termed as time-sharing.</p>
<p>The main difference between Multiprogrammed Batch Systems and Time-Sharing Systems is that in case of Multiprogrammed batch systems, the objective is to maximize processor use, whereas in Time-Sharing Systems, the objective is to minimize response time.</p>
<p>Multiple jobs are executed by the CPU by switching between them, but the switches occur so frequently. Thus, the user can receive an immediate response. For example, in a transaction processing, the processor executes each user program in a short burst or quantum of computation. That is, if <b>n</b> users are present, then each user can get a time quantum. When the user submits the command, the response time is in few seconds at most.</p>
<p>The operating system uses CPU scheduling and multiprogramming to provide each user with a small portion of a time. Computer systems that were designed primarily as batch systems have been modified to time-sharing systems.</p>
<p>Advantages of Timesharing operating systems are as follows &minus;</p>
<ul>
<li>Provides the advantage of quick response.</li>
<li>Avoids duplication of software.</li>
<li>Reduces CPU idle time.</li>
</ul>
<p>Disadvantages of Time-sharing operating systems are as follows &minus;</p>
<ul>
<li>Problem of reliability.</li>
<li>Question of security and integrity of user programs and data.</li>
<li>Problem of data communication.</li>
</ul>
<h4>Distributed operating System</h4>
<p>Distributed systems use multiple central processors to serve multiple real-time applications and multiple users. Data processing jobs are distributed among the processors accordingly.</p>
<p>The processors communicate with one another through various communication lines (such as high-speed buses or telephone lines). These are referred as <b>loosely coupled systems</b> or distributed systems. Processors in a distributed system may vary in size and function. These processors are referred as sites, nodes, computers, and so on.</p>
<p>The advantages of distributed systems are as follows &minus;</p>
<ul>
<li>With resource sharing facility, a user at one site may be able to use the resources available at another.</li>
<li>Speedup the exchange of data with one another via electronic mail.</li>
<li>If one site fails in a distributed system, the remaining sites can potentially continue operating.</li>
<li>Better service to the customers.</li>
<li>Reduction of the load on the host computer.</li>
<li>Reduction of delays in data processing.</li>
</ul>
<h4>Network operating System</h4>
<p>A Network Operating System runs on a server and provides the server the capability to manage data, users, groups, security, applications, and other networking functions. The primary purpose of the network operating system is to allow shared file and printer access among multiple computers in a network, typically a local area network (LAN), a private network or to other networks.</p>
<p>Examples of network operating systems include Microsoft Windows Server 2003, Microsoft Windows Server 2008, UNIX, Linux, Mac OS X, Novell NetWare, and BSD.</p>
<p>The advantages of network operating systems are as follows &minus;</p>
<ul>
<li>Centralized servers are highly stable.</li>
<li>Security is server managed.</li>
<li>Upgrades to new technologies and hardware can be easily integrated into the system.</li>
<li>Remote access to servers is possible from different locations and types of systems.</li>
</ul>
<p>The disadvantages of network operating systems are as follows &minus;</p>
<ul>
<li>High cost of buying and running a server.</li>
<li>Dependency on a central location for most operations.</li>
<li>Regular maintenance and updates are required.</li>
</ul>
<h4>Real Time operating System</h4>
<p>A real-time system is defined as a data processing system in which the time interval required to process and respond to inputs is so small that it controls the environment. The time taken by the system to respond to an input and display of required updated information is termed as the <b>response time</b>. So in this method, the response time is very less as compared to online processing.</p>
<p>Real-time systems are used when there are rigid time requirements on the operation of a processor or the flow of data and real-time systems can be used as a control device in a dedicated application. A real-time operating system must have well-defined, fixed time constraints, otherwise the system will fail. For example, Scientific experiments, medical imaging systems, industrial control systems, weapon systems, robots, air traffic control systems, etc.</p>
<p>There are two types of real-time operating systems.</p>
<h4>Hard real-time systems</h4>
<p>Hard real-time systems guarantee that critical tasks complete on time. In hard real-time systems, secondary storage is limited or missing and the data is stored in ROM. In these systems, virtual memory is almost never found.</p>
<h4>Soft real-time systems</h4>
<p>Soft real-time systems are less restrictive. A critical real-time task gets priority over other tasks and retains the priority until it completes. Soft real-time systems have limited utility than hard real-time systems. For example, multimedia, virtual reality, Advanced Scientific Projects like undersea exploration and planetary rovers, etc.</p>
<hr />
</td>
</tr>
</table>
</div>
</td>
</div>
</body>
</html>